.Tags ul.PanelInfo {
	background:rgba(255,255,255,.4);
	text-align:center;
	padding:8px 0;
}

.Tags .PanelInfo li {
   background: none;
   display: inline-block;
   border: none;
}

.Tags li a {
	line-height:0.6em;
}

.Tags .Count {
	display:none;
}